<div class="perfil-container">
  <div class="card" *ngIf="user">

    <div class="avatar">
      <!--<img src="assets/icons/user.png">--> 
    </div>

    <h2>
      {{user.name}}
    </h2>

    <span class="role">
      {{user.role}}
    </span>

    <p>
      <strong>Email:</strong>
      {{user.email}}
    </p>

    <div class="actions">
      <button class="change-btn" (click)="togglePasswordForm()">
        Cambiar contraseña
      </button>

      <button class="logout-btn" (click)="logout()">
        Cerrar sesión
      </button>

      <button class="back-btn" (click)="inicio()">
        Regresar
      </button>
    </div>

    <form (ngSubmit)="savePassword()" *ngIf="showPasswordForm" class="password-card">
      <input type="password" name="currentPassword" placeholder="Contraseña actual" [(ngModel)]="currentPassword">
      <input type="password" name="newPassword" placeholder="Nueva contraseña" [(ngModel)]="newPassword">
      <input type="password" name="confirmPassword" placeholder="Confirmar contraseña" [(ngModel)]="confirmPassword">

      <button class="save-btn" type="submit">
        Guardar contraseña
      </button>
    </form>
  </div>
</div>